/* Navbar */

nav {
    box-shadow: 0px 3px 10px -3px rgb(177, 177, 177);
}
nav ul {
    display: flex;
    list-style: none;
}

nav a {
    color: #2c3e50;
}

nav li {
    margin-right: 2rem;
}

nav li:last-child {
    margin-right: 0rem;
}

.logo-img {
    width: 40px;
}

.menu {
    display: none;
}

.bar {
    width: 25px;
    height: 2px;
    background: #2c3e50;
    margin-bottom: 6px;
}

@media only screen and (max-width: 576px) {
    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .menu {
        display: block;
    }

    nav li {
        text-align: center;
        margin-right: 0;
        margin-bottom: 1rem;
    }

    nav li:last-child {
        margin-bottom: 0rem;
    }
}

/* Typography */
.heading-2 {
    font-size: 2rem;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
    color: rgb(159, 159, 159);
}


/* Form */

.form-label {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
}

.form-control {
    display: block;
    padding: 0.5rem 0.25rem;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

textarea {
    height: 200px
}

textarea:focus, input:focus {
    outline: none;
}

/* Button */

.btn {
    display: inline-block;
    background-color: #4AAF51;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    transition: all 0.5s;
    border: none;
}

.btn:hover {
    background-color: #398b3f;
}

/* Icon */


.md-icon {
    width: 40px;
}

.sm-icon {
    width: 18px;
}

/* Footer */

footer {
    color: white;
    background-color: #285E61;
}

footer h3 {
    font-size: 1.5rem;
}

footer p {
    line-height: 1.5;
}

footer ul {
    list-style: none;
}

footer li {
    margin-bottom: 0.5rem;
}

footer a {
    color: #fff;
}

.copyright {
    background-color: #234E52;
    color: white;
    font-size: 0.9rem;
}
