/* Header */
header {
    height: 450px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.pexels.com/photos/265667/pexels-photo-265667.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center/cover;
    color: #fff;
    position: relative;

}

.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* About */
.about p {
    line-height: 1.5;
    font-size: 1.1rem;
    font-weight: 300;
}



/* Cards */
.card {
    box-shadow: 0px 6px 15px 0px rgba(153, 153, 153, 1);
}

.card-content {
    padding: 15px;
}


